body{
  background: linear-gradient(to right, #fc00ff, #00dbde);
    padding: 0px; margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    overflow-x: hidden;
     /*background-image: url('../src/1.jpg'); */
    font-family: monospace;
}
header{ 
    padding: 0.8em 0em; 
}
.brand{ display: inline-block; background-color: #F8F8F8;  
	   border-top-right-radius: 40px;
     border-bottom-right-radius: 10px;
}
.brand h1{ padding: 0.1em 0.5em;  padding-left: 2em;
    font-family: 'Cinzel', serif;
    font-size: 2.5rem; color:#34ace0; 
}
.login{ margin-top: 2rem; }
.logindiv{ 
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px lightgray;
}
.registerdiv{ display: none;
     padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px  lightgray;
}
.logindiv label,.registerdiv label{ 
    font-family: 'Open Sans', sans-serif; 
    font-weight: bold; color: dimgrey;
}
.logindiv h3,.registerdiv h3{ border-left: 10px solid #3498db; padding-left: 15px;
    font-family: 'Do Hyeon', sans-serif; 
    color: #8395a7; }
footer{
  position: absolute; bottom: 20px; right: 5%; 
}
.panel{ position: relative; bottom: 5px; 
   height: 80px; width: 20rem; background-color: #F8F8F8; 
    opacity: 0.8; 
     border-top-left-radius: 40px;
     border-bottom-left-radius: 10px;
    transform: perspective(320px) rotateX(55deg);
     z-index: -1; 
}

.menu{ display: inline-block; position: relative; top: 35px;
    border-radius: 50%;
    background-color: dodgerblue;
    width: 70px; height: 70px;
    padding-top: 22px;
    padding-left: 7px;
    margin-left: 50px;
    color: white; box-shadow: 1px 2px 5px 1px lightgrey; 
    font-family: 'Lekton', sans-serif;
    cursor: pointer; 
}
.menu:hover{
   background-color: darkmagenta; color: white;
    box-shadow: 1px 2px 5px 2px lightgray;
    border-bottom: 5px solid yellow;
    animation: up 200ms linear forwards;
}
@keyframes up{
    0%{ top:35px; } 100%{ top:25px; }
}
.showlogin{
    display: block;
}
.showregister{ display: block; }

/* oracleui page styles */

.sidepan, #viewpan{
    background-color: white;
    height: 550px; border-radius: 20px; 
    box-shadow: 0px 0px 5px 1px  whitesmoke;
}
.sidepan{ margin-left: 10px; overflow: hidden;
}
.sidetop{ overflow:hidden; }
.list{ overflow:scroll; height: 500px;
    margin-bottom: 10px; }
#tablelist{ margin-bottom: 30px; }
.sidepan h6 a{
    text-decoration: none; color: gray; 
}
.sidepan h6 a:hover{ 
text-decoration: none; 
color: dimgrey; font-weight: bolder; border-bottom: 1px solid skyblue ;
}
#viewpan, .navpan{ margin: 0px 25px; } #viewpan{ overflow: scroll;}
.navpan{ background-color: white; border-radius: 20px; 
    box-shadow: 0px 0px 5px 1px  whitesmoke; padding: 13px; }
.sidepan h4{ font-family: monospace; padding-left: 10%;
		 padding-top: 5%; padding-bottom: 2%; 
		 background-color: deepskyblue; color: white; 
}
ul{ list-style-type: none; }
ul li{ text-decoration: none; float: left; 
	padding: 0px 15px; color: gainsboro; }
ul li a{ text-decoration: none; color: gray;  }
ul li a:hover{ 
text-decoration: none; 
color: dimgrey; font-weight: bolder; border-bottom: 1px solid skyblue ;
}
.profile{ display: inline-block; float: right;
	 margin-top: 2%; padding-right: 8%; 
	 padding-left: 2%; padding-top: 0.5%;
		background-color: white;
     border-radius: 40px 0px 0px 10px;
    box-shadow: 0px 0px 1px 1px white;
} 
.profile h5{ display: inline-block; }
.profile h5::after{
    content: '\23456';
    padding: 5px 8px;
    margin-left: 15px;
    background-color: skyblue; 
    border-radius: 50%;
}
#tablecreationpan{
    position: relative; 
    top: 13%; left: 8%; margin-right:5%;
}
.tcreationform{
    padding: 15px 50px; width:90%;
}
.tcreationform input{
    padding: 2px 10px;
}
.tcreationform input[type="number"]{
    width: 70px;
}
#tablelist{
	margin-left:15px; margin-top:10px;
} 
/* Radio button css */

.option-input {
  -webkit-appearance: none;	
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 5.33333px;
  right: 0;
  bottom: 10px;
  left: 0;
  height: 20px;
  width: 20px;
  background: whitesmoke;
  border: none;
  color: blue;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: gray;
}
.option-input:checked {
  background: whitesmoke;
    color: gray;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '\2713';
  display: inline-block;
  font-size: 18.66667px;
  text-align: center;
  line-height: 20px;
}

.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
label{ font-family: 'Roboto', sans-serif; font-size:15px; color: gray;}

/* Radio button css end */

::-webkit-scrollbar {
    width: 4px; height:4px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; width:15px;	
}

table{
	padding:15px; margin:20px;
}
table tr{ marign:5px; padding:5px; }
table tr td{ margin:5px; padding:5px; }

/*code pen */

#dbtable table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

#dbtable th {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

#dbtable th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

#dbtable th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

#dbtable th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

#dbtable td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

#dbtable td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

#dbtable td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

#dbtable tr {
	background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

#dbtable tr:nth-child(odd) #dbtable td {
	background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

#dbtable tr:last-of-type #dbtable td {
	box-shadow: inset 0 -1px 0 #fff; 
}

#dbtable tr:last-of-type #dbtable td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

#dbtable tr:last-of-type #dbtable td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	
/* code pen over*/
#tcreate{
	background: whitesmoke;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
}
#tcreate tr th{ padding:5px 15px; }

