<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"   
    xmlns="http://java.sun.com/xml/ns/javaee"   
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">  
 <servlet>  
    <servlet-name>spring</servlet-name>  
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
    <load-on-startup>1</load-on-startup>  
</servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ListTable</display-name>
 	<servlet-name>ListTable</servlet-name>
 	<servlet-class>com.oracleui.services.ListTable</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ShowTable</display-name>
 	<servlet-name>ShowTable</servlet-name>
 	<servlet-class>com.oracleui.services.ShowTable</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>CreateTable</display-name>
 	<servlet-name>CreateTable</servlet-name>
 	<servlet-class>com.oracleui.services.CreateTable</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>InsertRow</display-name>
 	<servlet-name>InsertRow</servlet-name>
 	<servlet-class>com.oracleui.services.InsertRow</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Insert</display-name>
 	<servlet-name>Insert</servlet-name>
 	<servlet-class>com.oracleui.services.Insert</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>ShowUpTable</display-name>
 	<servlet-name>ShowUpTable</servlet-name>
 	<servlet-class>com.oracleui.services.ShowUpTable</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Update</display-name>
 	<servlet-name>Update</servlet-name>
 	<servlet-class>com.oracleui.services.Update</servlet-class>
 </servlet>
<servlet-mapping>
	<servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>  
</servlet-mapping>  
<servlet-mapping>
	<servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>  
</servlet-mapping>  
<servlet-mapping>  
    <servlet-name>spring</servlet-name>  
    <url-pattern>/</url-pattern>  
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ListTable</servlet-name>
	<url-pattern>/ListTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ShowTable</servlet-name>
	<url-pattern>/ShowTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>CreateTable</servlet-name>
	<url-pattern>/CreateTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>InsertRow</servlet-name>
	<url-pattern>/InsertRow</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Insert</servlet-name>
	<url-pattern>/Insert</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>ShowUpTable</servlet-name>
	<url-pattern>/ShowUpTable</url-pattern>
</servlet-mapping>
<servlet-mapping>
	<servlet-name>Update</servlet-name>
	<url-pattern>/Update</url-pattern>
</servlet-mapping> 
</web-app>  